/* تنظیمات کلی */
body {
    font-family: 'Tahoma', sans-serif;
    background-color: #ffffff; /* پس‌زمینه سفید */
    color: #333333; /* متن مشکی تیره */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    direction: rtl;
}

/* طراحی رزومه */
.resume {
    max-width: 850px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* هدر رزومه */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

/* اطلاعات شخصی */
.personal-info {
    display: flex;
    align-items: center;
    width: 70%;
    margin-right: 20px;
}


.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
    border: 3px solid #bbb; /* حاشیه خاکی روشن */
    object-fit: cover;
}


.details h1 {
    font-size: 26px;
    color: #333333; /* رنگ متن مشکی تیره */
    margin: 0;
    padding-bottom: 10px;
}

.details p {
    font-size: 14px;
    color: #666666; /* رنگ خاکی برای جزئیات */
    margin: 5px 0;
    }

/* اطلاعات تماس */
.contact-info {
    width: 25%;
    text-align: right;
}

.contact-info p {
    font-size: 14px;
    color: #666666; /* رنگ خاکی برای جزئیات */
    margin-bottom: 10px;
}

/* بخش‌های رزومه */
.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9; /* پس‌زمینه کادرها کمی تیره‌تر از سفید */
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
    font-size: 22px;
    color: #444444; /* رنگ مشکی تیره برای عنوان‌ها */
    border-bottom: 2px solid #ccc; /* خط زیر عنوان خاکی روشن */
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section p, .section ul {
    font-size: 15px;
    color: #444444; /* رنگ خاکی تیره برای متن */
    margin: 0;
}

.section ul {
    padding-right: 20px;
}

.section ul li {
    margin-bottom: 8px;
}

/* موبایل و تبلت */
@media (max-width: 768px) {
    .resume {
        padding: 20px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .personal-info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .profile-pic {
        margin-bottom: 15px;
    }

    .details h1 {
        font-size: 24px;
    }

    .contact-info {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
}


